<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/favicon.ico">
    <link href="/index.css" rel="stylesheet">
    <title><%= title %></title>
  </head>
  <body>
  
    <div id="app"></div>
    
    <div id="intro">
        
        <header>
          <div class="branding">
            <img class="logo" src="/img/SwiftUI-Jam-Logo@2x.png" width="192" height="192" />
            <div class="presenting-sponsor-title desktop">
              <p><strong>Presented by</strong></p>
              <a target="_blank" href="https://www.scotiabank.com/careers/">
                <img class="sponsor" src="/img/logo-scotia.svg" alt="Scotiabank" width="128">
              </a>
            </div>
          </div>
          <div class="info">
            <h1><%= title %></h1>
            <div class="presenting-sponsor-title mobile">
              <p><strong>Presented by</strong></p>
              <a target="_blank" href="https://www.scotiabank.com/careers/">
                <img class="sponsor" src="/img/logo-scotia.svg" alt="Scotiabank" width="128">
              </a>
            </div>
           
            <p>
              <span>A weekend code jam to stretch your skills</span>
              <br /> 
              <strong>Friday Feb 19th Noon - Sunday Feb 21st 6pm (ET)</strong>
              <br /> 
              <span><strong>FREE</strong> for all to participate</span>
              <br /> 
              <span>Open to beginners, no minimum time investment</span>
              <br />
              <small>Registration closes Thurs Feb 11th 11:59pm (ET)</small>
              <br />
              <a href="https://twitter.com/SwiftUIJam?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @SwiftUIJam</a>
              <a href="https://twitter.com/intent/tweet?button_hashtag=SwiftUIJam&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #SwiftUIJam</a>
            </p>
          </div>
        </header>

        <nav id="intro-nav">
          <ol>
            <li><a href="#intro-features">Features</a></li>
            <li><a href="#intro-reasons">Reasons to participate</a></li>
            <li><a href="#intro-registration">Registration</a></li>
            <li><a href="#intro-volunteers">Volunteers/Speakers</a></li>
            <li><a href="#intro-faq">FAQ</a></li>
            <li><a href="#intro-awards">Awards</a></li>
            <li><a href="#intro-schedule">Schedule</a></li>
            <li><a href="#intro-designers">Floating Designers</a></li>
            <li><a href="#intro-randomly-assigned-programmers">Assigned Teams</a></li>
            <li><a href="#intro-coc">Code of Conduct</a></li>
            <li><a href="#intro-organizers">Organizers</a></li>
            <li><a href="#intro-contact">Contact</a></li>
            <li>
              <a class="nav-item register" href="/#register" >
                <span>📝 Register</span>
              </a>
            </li>
          </ol>
        </nav>
        
        <h2 id="intro-features">Features</h2>

        <ul>
          <li>Form a team or go solo and develop a SwiftUI app</li>
          <li>Join your fellow participants in solidarity through Discord text/voice/video chats and live streamed events during the jam</li>
          <li>Post your app to our directory at the end of the jam and we&#39;ll make a gallery of entries</li>
          <li>Participants who provide sample code with their submissions can qualify for jam awards</li>
          <li>Raffles for awesome prizes throughout the jam.</li>
        </ul>

        <h2 id="intro-reasons">Reasons to participate</h2>

        <ul>
          <li>Collaborate with others, share your passion and make new friends from around the world</li>
          <li>Been procrastinating? Finally carve out some time to write more SwiftUI</li>
          <li>Practice your short term planning/executing skills</li>
          <li>Achieve a goal you set for yourself in one weekend - No goal is too small</li>
        </ul>

        <h2 id="intro-registration">Registration</h2>

        <ul>
          <li>You can register as a solo programmer, team programmer, team designer or floating designer (*Learn more about designers below)</li>
          <li>Teams can consist of up to 5 people</li>
          <li>Floating designers will be assigned one or more teams to work with in advance of the jam start</li>
          <li>Programmers can be assigned a randomly formed team (*Learn more about team assignment below)</li>
          <li>Need more time to make a plan before registering? You can <a href="https://join.slack.com/t/nscoderto/shared_invite/zt-77tsbn8w-xohOKUpt99WJ4UHfo1E5Ew">join the NSCoderTO Slack group</a>'s #swiftuijam channel to connect with us and others in advance of the jam</li>
        </ul>

        <a class="nav-item register" href="/#register" >
          <span>📝 Register</span>
        </a>

        <h2 id="intro-volunteers">Call for Volunteers/Speakers</h2>

        <p>In addition to participants, we are also looking for help from others to make this event awesome for our community</p>

        <p><strong>Volunteers</strong> - Will help facilitate the jam and review app submissions afterward for our awards</p>

        <p><strong>MC/Speakers</strong> - Will participate in our live streamed events and help keep our jammers energized</p>

        <p>
          <span>Contact us by email at <a href="mailto:hello@swiftuijam.com">hello@swiftuijam.com</a></span>
        </p>

        <h2 id="intro-faq">FAQ</h2>

        <ol class="faq">
        
          <li>
            <p>Who is this jam for?</p>
            <blockquote>
              <p>Absolutely anyone who wants to code some SwiftUI.</p>
              <p>From beginner to seasoned Swift veteran, we encourage all to participate.</p>
              <p>If you are a beginner we recommend trying a course like <a target="_blank" href="https://www.hackingwithswift.com/100/swiftui">100 Days of SwiftUI</a> prior to the jam. We will also have clearly marked channels for beginners to get help, connect with others and share your learning progress.</p>
            </blockquote>
          </li>
        
          <li>
            <p>How much time do I have to spend on the jam?</p>
            <blockquote>
              <p>There is no minimum.</p>
              <p>If this jam helps you carve out a few hours over the weekend to try something in SwiftUI, that&#39;s a success.
              </p>
              <p>If your employer lets you use Friday afternoon to join us and explore some SwiftUI, that&#39;s a success.</p>
              <p>This jam is about setting and achieving a personal goal within your comfort zone. It is also our intention to
                have varied awards that don&#39;t overencourage grinding.</p>
            </blockquote>
          </li>
        
          <li>
            <p>Is this a competition?</p>
            <blockquote>
              <p>Nope. Everyone is a winner because we all have SwiftUI apps at the end 🎉🍾</p>
            </blockquote>
          </li>
        
          <li>
            <p>Why are there awards if this isn&#39;t competitive?</p>
            <blockquote>
              <p>Awards are intended to encourage variety in submissions and open source code sharing. There is no single correct way to participate.
            </blockquote>
          </li>
        
          <li>
            <p>I don't live in the event's time zone, can I participate?</p>
            <blockquote>
              <p>Definitely! We would love to have participants from across the world. If you want to code some SwiftUI, join
                us.</p>
            </blockquote>
          </li>
        
          <li>
            <p>Can I use libraries or old code I&#39;ve written?</p>
            <blockquote>
              <p>It is okay to depend on other Swift Packages in your app. If old code you have written is for non-UI related
                purposes and can be modularized this is okay too. 100% of the SwiftUI app code should be new to the jam.</p>
            </blockquote>
          </li>
        
          <li>
            <p>I'm already working on something in SwiftUI. Can I keep working on it during the jam?</p>
            <blockquote>
              <p>No, but we have a compromise:</p>
              <p>Try isolating a UI problem you haven't solved for your app yet. Make the jam about making that one component
                awesome and reusable.</p>
              <p>Submit your SwiftUI component to our gallery and then incorporate it into your main codebase after the jam.</p>
            </blockquote>
          </li>
        
          <li>
            <p>Can I code/use a backend?</p>
            <blockquote>
              <p>It is acceptable both to use public APIs or even your own backend. Keep in mind that if you use public APIs and
                submit your code you should omit your personal API Key from the submitted code.</p>
            </blockquote>
          </li>
        
          <li>
            <p>How can I prepare for the jam?</p>
            <blockquote>
              <p>In advance of the jam, it is acceptable to have already met and formed a plan of action with your team. We
                encourage you to do this to prevent wasting hours during the jam deciding what/how to build. However, please DO
                NOT code or design in advance.</p>
            </blockquote>
          </li>
        
          <li>
            <p>How will you make sure everyone is following the rules and not bringing old code?</p>
            <blockquote>
              <p>We rely on our community to respect the spirit of the event. This jam is mostly about setting and achieving
                personal goals in solidarity with others.</p>
            </blockquote>
          </li>
        
          <li>
            <p>Can I continue coding on my project after the jam?</p>
            <blockquote>
              <p>Absolutely! We encourage you to keep working on these projects after the fact, but in a separate git repo from
                your submission if you choose to share your code for awards eligibility.</p>
            </blockquote>
          </li>
        
          <li>
            <p>How will app submission work?</p>
            <blockquote>
              <p>At the end of the jam, you will have the opportunity to create a gallery entry for your team&#39;s app.
                You&#39;ll be able to point to git code, images and videos that demonstrate your app&#39;s functionality in
                addition to the App Store url. Awards will be determined in the following weeks and announced.</p>
            </blockquote>
          </li>
        
          <li>
            <p>I'm a beginner but I won't have time to prepare before the jam. Can I still participate?</p>
            <blockquote>
              <p>Try committing to completing a portion of a SwiftUI course like <a target="_blank" href="https://www.hackingwithswift.com/100/swiftui">100 Days of SwiftUI</a> as your jam goal.</p>
              <p>We will also have clearly marked channels for beginners to get help, connect with others and share learning progress.</p>
            </blockquote>
          </li>
        
          <li>
            <p>Is this jam new? Why this format?</p>
            <blockquote>
              <p>SwiftUI Jam is modelled closely after the Toronto Game Jam (www.tojam.ca). Volunteers for the SwiftUI Jam have
                participated in this event in the past and were inspired to try bringing the same energy to the SwiftUI
                Community.
              </p>
            </blockquote>
          </li>
        
          <li>
            <p>Do I need to sleep?</p>
            <blockquote>
              <p>Scientifically speaking, yes. For this jam no one is forcing you to do anything, but we are confident
                you&#39;ll
                get much better results from maintaining a regular schedule with sufficient sleep, breaks, excercise and diet.
                The
                jam is not a reason to forgo self-care and we do not encourage grinding.</p>
            </blockquote>
          </li>
        
        </ol>

        <h2 id="intro-awards">Awards (Tentative)</h2>

        <p>Actual awards and names may change before the jam. We welcome your award ideas!</p>

        <p>🏆&nbsp;<strong>Awesome Animations Award</strong> - SwiftUI animation award </p>

        <p>🏆&nbsp;<strong>Good Game Award</strong> - SwiftUI game award</p>

        <p>🏆&nbsp;<strong>Brilliant Blog Award</strong> - Submission with an accompanying explainer blog</p>

        <p>🏆&nbsp;<strong>Deep Docs</strong> - Well documented sample code</p>

        <p>🏆&nbsp;<strong>UI Elementalist</strong> - A submission that is a UI Element</p>

        <p>🏆&nbsp;<strong>Wild Wild Widget</strong> - SwiftUI Widget</p>

        <p>🏆&nbsp;<strong>Comedian Award</strong> - For app humor</p>

        <p>🏆&nbsp;<strong>Little Code, Big Impact</strong> - Honouring apps that aren&#39;t just about code quantity</p>

        <p>🏆&nbsp;<strong>Platform Pro</strong> - Cross-platform functionality </p>

        <h2 id="intro-schedule">Live Stream Schedule (Tentative)</h2>

        <p>Actual schedule will change. In addition to these events we'll run a twitter stream for #SwiftUIJam.</p>

        <ol class="schedule">
          <li>
                <h5>Friday 11:50am - Opening remarks</h5>
                <span>Countdown to jam start</span>
          </li>
          <li>
                <h5>Friday PM</h5>
                <span>TBD</span>
          </li>
          <li>
                <h5>Saturday 9:00pm - Move Night</h5>
                <p>We'll pick a thematically appropriate movie that is easy enough for people to find and collectively watch together. Code along or join in chat for a break with friends</p>
                <p>Candidate movie - <em>Pirates of Silicon Valley (1999)</em></p>
          </li>
          <li>
                <h5>Sunday PM</h5>
                <span>TBD</span>
          </li>
          <li>
                <h5>Sunday 5:50pm - Closing Remarks</h5>
                <p>Countdown to jam end</p>
          </li>
        </ol>

        <h2 id="intro-designers">Floating Designers</h2>

        <p>The Floating Designer position is intended to help connect designers and programmers that would otherwise be solo or unable to participate. For best results we recommend a few things:</p>

        <ol>
          <li>Assignments will be made in advance and you&#39;ll have an opportunity to connect a day or two in advance of the
            jam. Use this chance to set expectations before the jam.</li>
          <li>It&#39;s a good idea to prioritize needs and determine what is most critical versus nice to have. i.e. Maybe the
            App Icon is most important, but other images can just use the SF Symbols library if there isn&#39;t time.</li>
          <li>Understand that Floating Designers will potentially be working with working with more than 1 team and will need to
            divide their time.</li>
          <li>If you aren&#39;t sure where to start, trying starting from this framework:
        
            <ul>
              <li>Discuss a basic idea for the app before start. Share hours availability and set expectations as necessary.
              </li>
              <li>Have a meeting early on the first day. Set a goal of getting an app icon and some theme colors delivered
                around 60% of the way through the jam.</li>
              <li>Try to plan for a design review together 90% of the way through the jam to review spacing and font sizes.</li>
            </ul>
          </li>
        </ol>

        <h2 id="intro-randomly-assigned-programmers">Assigned Teams</h2>

        <p>If you are interested in forming a team with others but need some help making the connections, you can register for team assignment. We'll ask you to tell us a little bit about your skill level and what you'd like to get out of the jam and do our best to help form teams.</p>
        <p>Assigned Teams teams will not be assigned a floating designer.</p>

        <h2 id="intro-coc">Code of Conduct</h2>

        <div class="col-lg-12 mb-2">
          <p>Harassment includes offensive verbal comments related to gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion, technology choices, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events and unwelcome sexual attention.</p>
          <p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>
          <p>Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualized images, activities, or other material. </p>
          <p>If a participant engages in harassing behavior, the organisers may take any action they deem appropriate, including warning the offender or expulsion from the event.</p>
          <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact an organizer immediately.</p>
          <p>We expect participants to follow these rules before, during and after the event.</p>
        </div>

        <section class="mb-5" id="intro-organizers">
          <div class="container">
            <h2>Organizers</h2>
            <div class="row">
              <p>SwiftUI Jam is brought to you by the organizers of the <a target="_blank" href="https://2019.swiftconf.to">SwiftTO Conference</a> and <a target="_blank" href="https://www.meetup.com/NSCoderTO/">NSCoderTO</a>,
                a macOS and iOS user group based in Toronto</p>
            </div>
            <div class="row profiles-section">
              <div class="organizer-container">
                <img src="/img/organizer-kyle.jpg">
                <h5>Kyle Newsome</h5>
                <a target="_blank" href="https://twitter.com/kylnew">
                  <span>@kylnew</span>
                </a>
              </div>
              <div class="organizer-container">
                <img src="/img/organizer-brendan.jpg">
                <h5>Brendan Miller</h5><a target="_blank" href="https://twitter.com/brendancmiller">
                  <span>@brendancmiller</span>
                  </a>
              </div>
              <div class="organizer-container">
                <img src="/img/organizer-bill.jpg">
                <h5>Bill Parousis</h5>
                <a target="_blank" href="https://twitter.com/bparousis">
                    <span>@bparousis</span>
                </a>
              </div>
              <div class="organizer-container mb-2">
                <img src="/img/organizer-margaret.jpg">
                <h5>Margaryta Chepiga</h5>
                <a target="_blank" href="https://twitter.com/MargoChepiga">
                    <span>@MargoChepiga</span>
                  </a>
              </div>
            </div>
          </div>
        </section>

        <section class="mb-5" id="intro-sponsor">
          <div class="container">
            <h2>Sponsors</h2>
            <div>
              <small>Thank you to Scotiabank for being our Presenting Sponsor. With their help we can cover all expenses and give away awesome raffles prizes throughout the jam.</small>
            </div>
            <div class="row">
              <a target="_blank" href="https://www.scotiabank.com/careers/">
                <img class="sponsor-mention" src="/img/logo-scotia.svg" alt="Scotiabank">
              </a>
            </div>
            <div class="row">
              <div>
                <p>At Scotiabank, there’s no going backwards. Our sights are always set on the future; we’re progressive, performance driven, forward-thinking and we have zero interest in the status quo. The world is a big place with all kinds of people, and it’s our differences that make us extraordinary. Here, you can be proud of who you are and let your true self shine.</p>
                <a target="_blank" href="https://www.scotiabank.com/careers/">Learn more about career opportunities</a>
              </div>
            </div>

            <hr />

            <div>
              <small>Thank you DetailsPro for being our Swag Sponsor and giving us the opportunity to provide attendees a memento from the jam. Participants in North America will be mailed a SwiftUI Jam laptop sticker.</small>
            </div>
            <div class="row">
              <a target="_blank" href="https://detailspro.app/">
                <img class="sponsor-mention" src="/img/details-pro-icon.png" alt="Details Pro">
                <p class="details-pro-title">Details Pro</p>
              </a>
            </div>
            <div class="row">
              <p>DetailsPro is a UI design app built for everybody. It's fast, powerful, easy to use, and does something that sounds too good to be true: it lets you use SwiftUI without ever writing any code. No SwiftUI experience necessary.</p>
              <a target="_blank" href="https://detailspro.app/">Learn More</a>
            </div>

          </div>
        </section>

    </div>

    <noscript>
      <strong>We're sorry but this site doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <footer id="intro-contact">
      <hr/>
    <span class="about-organizers">SwiftUI Jam is brought to you by the organizers of SwiftTO. If you have any questions or issues registering, contact us on Twitter <a target="_blank" href="https://www.twitter.com/<%= twitter %>">@<%= twitter %></a> or email at <a href="mailto:hello@swiftuijam.com">hello@swiftuijam.com</a></span>
    </footer>

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <!-- built files will be auto injected -->
  </body>
</html>
