<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/favicon.ico">
    <link href="/index.css" rel="stylesheet">
    <title><%= title %></title>
  </head>
  <body>
  
    <div id="app"></div>
    
    <div id="intro">
        
        <header>
          <div class="branding">
            <img class="logo" src="/img/SwiftUI-Jam-Logo@2x.png" width="192" height="192" />
            <div class="presenting-sponsor-title desktop">
              <p><strong>Presented by</strong></p>
              <a target="_blank" href="https://www.scotiabank.com/careers/">
                <img class="sponsor" src="/img/logo-scotia.svg" alt="Scotiabank" width="128">
              </a>
            </div>
          </div>
          <div class="info">
            <h1><%= title %></h1>
            <div class="presenting-sponsor-title mobile">
              <p><strong>Presented by</strong></p>
              <a target="_blank" href="https://www.scotiabank.com/careers/">
                <img class="sponsor" src="/img/logo-scotia.svg" alt="Scotiabank" width="128">
              </a>
            </div>
          </div>
        </header>

        This site is undergoing a database migration and integrity check. Check back in 10 minutes.

    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
