<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/favicon.ico">
    <link href="/index.css" rel="stylesheet">
    <title><%= title %></title>
  </head>
  <body>
  
    <div id="app"></div>
    
    <div id="intro">
        
        <header>
          <img class="logo" src="/img/SwiftUI-Jam-Logo@2x.png" width="256" height="256" />
          <div class="info">
            <h1><%= title %></h1>
            <h3>A weekend code jam to stretch your skills</h3>
            <h3>Friday Feb 19th 10am - Sunday Feb 21st 6pm (ET)</h3>
            <h3>FREE for all to participate</h3>
          </div>
        </header>
        
        <h2>Features</h2>

        <ol>
        <li>Form a team or go solo and develop a SwiftUI app</li>
        <li>Join your fellow participants in solidarity through discord chat and live streamed events during the jam</li>
        <li>Post your app to our directory at the end of the jam and we&#39;ll make a gallery of entries</li>
        <li>Participants who provide sample code with their submissions can qualify for jam awards</li>
        </ol>

        <h2>Reasons to participate</h2>

        <ol>
        <li>Write more SwiftUI</li>
        <li>Practice your short term planning/executing skills</li>
        <li>Start and finish something in a weekend</li>
        <li>Collaborate with others</li>
        </ol>

        <h2>Registration</h2>

        <ul>
        <li>You can register as a solo programmer, team programmer, team designer or floating designer. (*Learn more about designers below)</li>
        <li>Teams can consist of up to 3 people</li>
        <li>Floating designers will be assigned one or more teams to work with in advance of the jam start</li>
        </ul>

        <h2>Call for Volunteers/Speakers</h2>

        <p>In addition to participants, we are also looking for help making this event awesome for our community</p>

        <p><strong>Volunteers</strong> - Will help facilitate the jam and review app submissions afterward for our awards</p>

        <p><strong>Speakers</strong> - Will participate in our live streamed events. You can propose a talk here - [TODO]</p>

        <h2>FAQ</h2>

        <ol class="faq">
        <li><p>Is this a competition?</p>

        <blockquote>
        <p>Nope. Everyone is a winner because we all have SwiftUI apps at the end 🎉🍾</p>
        </blockquote></li>

        <li><p>Why are there awards if this isn&#39;t competitive?</p>

        <blockquote>
        <p>Awards are intended to encourage variety in submissions and open source code sharing.</p>
        </blockquote></li>

        <li><p>How much time do I have to spend on the jam?</p>

        <blockquote>
        <p>There is no minimum. If this jam helps you carve out a few hours over the weekend to try something in SwiftUI, that&#39;s a success. If your employer lets you use Friday afternoon to join us and explore some SwiftUI, that&#39;s a success. The jam is about setting and achieving a personal goal within your comfort zone. It is also our intention to have varied awards that don&#39;t overencourage grinding.</p>
        </blockquote></li>

        <li><p>I don't live in the event's time zone, can I participate?</p>

        <blockquote>
        <p>Definitely! We would love to have participants from across the world. If you want to code some SwiftUI, join us.</p>
        </blockquote></li>

        <li><p>Can I use libraries or old code I&#39;ve written?</p>

        <blockquote>
        <p>It is okay to depend on other Swift Packages in your app. If old code you have written is for non-UI related purposes and can be modularized this is okay too. 100% of the SwiftUI app code should be new to the jam.</p>
        </blockquote></li>

        <li><p>Can I code/use a backend?</p>

        <blockquote>
        <p>It is acceptable both to use public APIs or even your own backend. Keep in mind that if you use public APIs and submit your code you should omit your personal API Key from the submitted code.</p>
        </blockquote></li>

        <li><p>How can I prepare for the jam?</p>

        <blockquote>
        <p>In advance of the jam, it is acceptable to have already met and formed a plan of action with your team. We encourage you to do this to prevent wasting hours during the jam deciding what/how to build. However, please DO NOT code or design in advance.</p>
        </blockquote></li>

        <li><p>How will you make sure everyone is following the rules and not bringing old code?</p>

        <blockquote>
        <p>We rely on our community to respect the spirit of the event. This jam is mostly about setting and achieving personal goals in solidarity with others.</p>
        </blockquote></li>

        <li><p>Can I continue coding on my project after the jam?</p>

        <blockquote>
        <p>Absolutely! We encourage you to keep working on these projects after the fact, but in a separate git repo from your submission if you choose to share your code for awards eligibility.</p>
        </blockquote></li>

        <li><p>How will app submission work?</p>

        <blockquote>
        <p>At the end of the jam, you will have the opportunity to create a gallery entry for your team&#39;s app. You&#39;ll be able to point to git code, images and videos that demonstrate your app&#39;s functionality in addition to the App Store url. Awards will be determined in the following weeks and announced.</p>
        </blockquote></li>

        <li><p>Is this jam new? Why this format?</p>

        <blockquote>
        <p>SwiftUI Jam is modelled closely after the Toronto Game Jam (www.tojam.ca). Volunteers for the SwiftUI Jam have participated in this event in the past and were inspired to try bringing the same energy to the SwiftUI Community.</p>
        </blockquote></li>

        <li><p>Do I need to sleep?</p>

        <blockquote>
        <p>Scientifically speaking, yes. For this jam no one is forcing you to do anything, but we are confident you&#39;ll get much better results from maintaining a regular schedule with sufficient sleep, breaks, excercise and diet. The jam is not a reason to forgo self-care and we do not encourage grinding.</p>
        </blockquote></li>

        </ol>

        <h2>Awards (Tentative)</h2>

        <p>Actual awards and names may change before the jam. We welcome you award ideas!</p>

        <p>🏆<strong>Awesome Animations Award</strong> - SwiftUI animation award </p>

        <p>🏆<strong>Good Game Award</strong> - SwiftUI game award</p>

        <p>🏆<strong>Brilliant Blog Award</strong> - Submission with an accompanying explainer blog</p>

        <p>🏆<strong>Deep Docs</strong> - Well documented sample code</p>

        <p>🏆<strong>Wild Wild Widget</strong> - SwiftUI Widget</p>

        <p>🏆<strong>Comedian Award</strong> - For app humor</p>

        <p>🏆<strong>Little Code, Big Impact</strong> - Honouring apps that aren&#39;t just about code quantity</p>

        <p>🏆<strong>Platform Pro</strong> - Cross-platform functionality </p>

        <h2>Floating Designers</h2>

        <p>The Floating Designer position is intended to help connect designers and programmers that would otherwise be solo or unable to participate. For best results we recommend a few things:</p>

        <ol>
        <li>Assignments will be made in advance and you&#39;ll have an opportunity to connect a day or two in advance of the jam. Use this chance to set expectations before the jam.</li>
        <li>It&#39;s a good idea to prioritize needs and determine what is most critical versus nice to have. i.e. Maybe the App Icon is most important, but other images can just use the SF Symbols library if there isn&#39;t time.</li>
        <li>Understand that Floating Designers will potentially be working with working with more than 1 team and will need to divide their time.</li>
        <li>If you aren&#39;t sure where to start, trying starting from this framework:

        <ul>
        <li>Discuss a basic idea for the app before start. Share hours availability and set expectations as necessary.</li>
        <li>Have a meeting early on the first day. Set a goal of getting an app icon and some theme colors delivered around 60% of the way through the jam.</li>
        <li>Try to plan for a design review together 90% of the way through the jam to review spacing and font sizes.</li>
        </ul></li>
        </ol>

        <h2>Code of Conduct</h2>

        <div class="col-lg-12 mb-2">
          <p>Harassment includes offensive verbal comments related to gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion, technology choices, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events and unwelcome sexual attention.</p>
          <p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>
          <p>Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualized images, activities, or other material. </p>
          <p>If a participant engages in harassing behavior, the organisers may take any action they deem appropriate, including warning the offender or expulsion from the event.</p>
          <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact an organizer immediately.</p>
          <p>We expect participants to follow these rules before, during and after the event.</p>
        </div>
    </div>

    <!-- built files will be auto injected -->

    <noscript>
      <strong>We're sorry but this site doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <footer>
      <hr/>
    <span class="about-organizers">SwiftUI Jam is brought to you by the organizers of SwiftTO. If you have any questions or issues registering, contact us on Twitter <a href="https://www.twitter.com/<%= twitter %>">@<%= twitter %></a> or email at <a href="mailto:hello@swiftconf.to">hello@swiftconf.to</a></span>
    </footer>
  </body>
</html>
